[2016-03-30 23:27] jordanbtucker opened #1 "v1.0.0 TODO List"
- [x] Explain JSON5 features in detail.
- [x] Explain JSON5's handling of `\u2028` and `\u2029`.
- [x] Explain caveats like duplicate property names.
- [x] Move spec to HTML/XML since LaTeX is somewhat esoteric.

[2016-03-31 21:51] jordanbtucker opened #2 "Proposal to remove `Infinity` and `NaN`"
I might get a lot of flack for this, but I don't think `Infinity` and `NaN` belong in JSON5. Let me address my reasons and try to preemptively address some concerns.
### Motivation
#### Number Implementation Agnosticism

JSON had a good reason for not including `Infinity` and `NaN`. It took an implementation agnostic approach to numbers as stated in the [official spec (PDF)](http://www.ecma-intern

[2016-12-13 10:01] csiz commented on #2
I disagree with JSON5 as syntactic sugar for JSON. It means forever keeping compatibility with with whatever design decision were made when JSON was standardised. I for one strongly disagreed with Crockford's decision to leave out NaN and comments, which are the main reasons I chose JSON5.

NaN and slightly less so Infinity are incredibly useful for scientific computing. As a use case for Infinity

[2016-12-13 15:02] aseemk commented on #2
@jordanbtucker: I'm sorry for missing your original post! But thanks for fantastic and thoughtful discussion to both you guys!

I think your point about this being the sole exception to "everything in JSON5 can be represented in JSON" / "JSON5 is syntactic sugar" is a great argument. But @csiz's pointer to Python supporting `NaN` and `Infinity` _by default_ is powerful too.

I've been hesitant to

[2016-12-13 15:54] aseemk commented on #2
Related: https://github.com/json5/json5/issues/136

[2017-06-09 20:59] d-frey commented on #2
If you are looking for a real-world use-case: I use JSON for logging data. Basically my log-file is one JSON object per line, each object containing structured data. When the data for a log message contains variables from my code, I need to be able to write out any value a variable might hold. For double values, this currently means that I turn non-finite values into strings, but it would be more

[2017-07-10 08:44] gene-pavlovsky commented on #2
@d-frey
+1

[2017-09-21 20:57] jordanbtucker commented on #2
Leaving `Infinity` and `NaN` as is for now.

[2017-09-21 20:57] #2 closed

[2017-12-19 09:10] hax commented on #2
Note, number values out of the scope will be parse to ±Infinity as original JSON spec. That means JSON5 do not need support `Infinity` literal, we can use `1e+99999` to represent +Infinity and use `-1e+99999` for -Infinity.

[2018-03-16 00:51] icefoxen opened #4 "Date/time support"
All you need is "It is recommended (but not required) that dates and times be represented as strings formatted per ISO 8601".

Then anyone who needs to build a library to handle dates and times can look up the standard and say "Oh, that's reasonable, I'll do that".

This is a known and persistent problem with existing solutions, and not using an existing solution seems unnecessarily obtuse.

[2018-03-16 01:27] jordanbtucker commented on #4
I like this idea. However, instead of ISO 8601, I would say that dates should be converted to UTC and represented as strings in Internet Date/Time Format as defined by [RFC 3339](https://tools.ietf.org/html/rfc3339#section-5.6).

ISO 8601 is not a free standard, and it supports a very broad range of date and time formats. RFC 3339 defines an ISO 8601 profile that provides a high level of interoper

[2018-03-16 02:32] #1 closed

[2018-03-16 02:34] jordanbtucker commented on #4
I added the following section to a new [v1.1.0 branch](https://github.com/json5/json5-spec/tree/v1.1.0).

# Dates and Times
It is recommended that JSON5 generators convert date and time values to Coordinated Universal Time (UTC) and represent them as strings in internet format as defined by RFC 3339 in the interest of interoperability.

Example 1 (Informative)

[code]

Alternatively, JSON5 generat

[2018-03-16 22:00] tracker1 commented on #4
Most JSON encoders/stringify respect objects with a `.toJSON()` method and use that for encoding...  Date has such a method, and it encodes to ISO-8601 format.  It may not be part of the JSON standard, but it has effectively become part of ECMA/W3C standard.

At this point, the best bet would be to support automatic hydration of full ISO strings that match a `.toJSON()` output to dates.  Extended

[2018-03-16 23:10] jordanbtucker commented on #4
@tracker1 I'm hesitant to have parsers automatically convert date-like strings to dates. Strings would no longer be just strings, but they'd also be maybe-dates. And if the platform doesn't have support for fractions of seconds, then the string `'2018-03-16T22:36:13.713Z'` would lose information if forced into a less precise date construct.

The nature of strings is that they can be very precise i

[2018-03-22 19:50] tracker1 commented on #4
I'm fine with not doing anything with it... just didn't want to add something to the spec regarding dates, as date encoding already has a defacto implementation.

[2018-03-24 16:08] icefoxen commented on #4
If you have a defacto implementation, other people are just going to implement it wrong.  If you have a standard that people can test against, they know how to implement it right.  This is what standards are for.

[2018-04-04 00:03] dcleao commented on #4
The only safe solution, imo, is to extend the spec to have some form of tagged literals, as was proposed on the original discussion: https://github.com/json5/json5/issues/3#issuecomment-342050877. Besides, this solution would allow supporting any custom types of literals.

Probably, the best bet would be to use the same syntax as the new ECMAScript tagged template literals: https://developer.mozil

[2018-05-11 14:32] silkentrance opened #5 "Support for undefined for testing purposes"
With TypeScript, it is possible to denote a given property for being optional, e.g.

[code]

Now, when creating an instance of Node

[code]

And running this through for example Mocha/Chai using a data driven test approach, with the following test data

[code]

Will result in differences since chai.assert.deepEqual will now see a

[code]

and comparing that to the test data will yield said differe

[2018-05-12 17:08] aseemk commented on #5
I hear you on this request.

Unfortunately, separate distinctions of `undefined` vs. `null` is mostly unique to JS. So if JSON5 supported `undefined`, it wouldn't translate well to many other languages.

Thus, I lean towards keeping `undefined` out of JSON5. Hopefully your workaround is workable!

[2018-08-18 14:55] mcraiha opened #6 "Clarify meaning of hexadecimal values"
So my current problem is definition of hexadecimal number system. The [specs](https://spec.json5.org/#numbers) say:

So if I have the string value

does that mean it stores
* 15991963345402650367
* -2454780728306901249
* -3.011212125377999e+144

* 18437397125074382557
* -9346948635169059
* -8.649422920012688e+307

or maybe something else?

[2018-08-18 22:32] jordanbtucker commented on #6
Thanks for the question. It means 18437397125074382557. Do you have any recommendations on how to reword the spec to be clearer?

[2018-08-20 18:01] mcraiha commented on #6
I do not have a good rewording, since explaining it exactly would require definition of endianness and maybe a formula for converting the values between formats. Maybe I would use example section with comments to tell what the hex value should, e.g.
[code]

[2018-08-21 06:13] jordanbtucker commented on #6
I was going to say that hex literals should be interpreted as they are in the ES5 spec, but the ES5 spec isn't much help. Here's a snippet from what it [has to say about hex literals](https://ecma-international.org/ecma-262/5.1/#sec-7.8.3).

Technically it defines how hex literals should be interpreted, but it's not in clear language.

[2018-08-21 07:34] mcraiha commented on #6
ParseInt tells how the hex value should be converted to int
https://tc39.github.io/ecma262/#sec-parseint-string-radix

I think the step 13. is what I am looking for, but wording in that is too "specsy".

[2018-08-26 10:51] nilesuan opened #7 "Import"
Because JSON5 can bloat very easily, it would be great if we can import other json5 files into the main one and merge all the data together. Hence configuration of a stack can be modular and not one big chunk of json file.

[2018-09-18 04:22] jordanbtucker commented on #7
Sorry for taking so long to reply to this, but I have been thinking about it. At first glance, this seems like a really nice feature, but I do have some concerns.

- Syntax
  - `import` is ES6, so for JSON5 to be backward compatible with ES5, perhaps an `import()` syntax could be used.
- Merges
  - What happens when `a.json5` imports `b.json5` but both define an object with a property `c`? Who win

[2018-12-25 22:12] download13 opened #8 "BigInts"
Now that bigints are a thing in JS it might be useful to support them in json5.

Example:

[code]

[2018-12-28 05:16] jordanbtucker commented on #8
Thanks for your suggestion.

Since the JSON5 spec is not specific about the data structures used to represent numbers, and does not impose a limit on the length of an integer, your first example is already supported by the spec. Implementations are free to parse large integers as BigInts or equivalent structures depending on the platform. If this is something you would like the [JSON5 JavaScript l

[2018-12-28 05:16] #8 closed, assigned to jordanbtucker

[2019-01-22 17:46] msokalski opened #9 "feature-request: Multi 'chunk' string literals like: "abc" "def""
One thing I like in C/C++ is ability to code string literals in multiple lines while keeping indentation.
Currently with JSON5 best we can do is to use back-slashes which kill indentation:
[code]
What I'd love to see in JSON5 is:

[code]
Limiting it to be not allowed on object's keys would be fine for me.

[2019-01-25 16:35] msokalski commented on #9
- Maybe to make it (more) compatible with ECMAScript, we should force using '+' operator between chunks?
- Would that make more sense if we also allow coding numerical values using using arithmetic operators?
- One may ask why not supporting math functions, I'd say just because they are functions, just to end such discussion as soon as possible :P.

[2019-02-13 03:13] willemt opened #10 "Integers as keys in dictionaries"
In JSON keys MUST be strings. It would be handy if it was possible to use integers as keys like so:

[code]

**Example usecase**
I have a REST service that represents assignments between objects like below. It would be better if the REST service could use integers instead of strings for keys.
[code]

[2019-02-13 04:26] jordanbtucker commented on #10
Thanks for the suggestion, and thanks for opening this issue in the correct repository.

There was [discussion](https://github.com/json5/json5/issues/55) on this a long time ago. At that time, we decided not to implement this feature. I'm not opposed to revisiting this idea, but I do have some reservations.

I've quoted some of the original discussion here as this is the proper place to continue d

[2019-03-01 20:21] lsloan opened #11 "Proposal to remove single-line comments"
When JSON5 data includes single-line comments, if the data is compacted by removing whitespace, any data that follows the comments may appear to be a comment as well.  To prevent that, multiline comments could always be used, because the end of comments will be explicit.  Single-line comment support could be phased out to prevent problems caused by compacting data.

[2019-03-04 10:22] GULPF opened #12 "Recommend avoiding invalid surrogate pairs"
Unicode code points in the range U+D800 to U+DFFF are used for encoding UTF-16 surrogate pairs, and can not occur on their own in a valid Unicode sequence. However, the `\uHHHH` escape sequence can be used to construct such a an invalid Unicode sequence, e.g `"\uDEAD"`.

The interpretation of invalid Unicode sequences like `"\uDEAD"` is not specified in the JSON, JSON5 or ES5 (I think) specs. [How

[2019-03-04 23:22] geyang commented on #2
Support for Infinity and NaN is absolutely critical. Suppose you are using the newest and finest:

- graphQL backend in python, for statistics processing with `pandas` and `numpy`
- relay modern on the front end

The data series contains `Infinity` and `NaN`s all the time. In order to add custom NaN and Infinity support, I would have to add an extra layer in the serialization and deserialization p

[2019-03-06 19:36] jordanbtucker commented on #12
Thanks. [RFC 8259 addresses this](https://tools.ietf.org/html/rfc8259#section-8.2), so I agree that the JSON5 spec should address this too.

[2019-03-06 19:39] #5 closed, assigned to jordanbtucker

[2019-03-06 19:51] jordanbtucker commented on #11
Thanks for the suggestion. Rather than removing single line comments from JSON5, I think it should be the minifier's responsibility to convert single line comments to multiline comments or just remove comments completely.

[code]

[2019-03-06 20:09] jordanbtucker commented on #9
See also https://github.com/json5/json5/issues/106 and https://github.com/json5/json5/pull/111

[2019-03-08 14:23] lsloan commented on #11
I guess that's not unreasonable.  It makes the minifier's job a little more complex than just removing whitespace.

[2019-03-08 23:36] jordanbtucker commented on #11
Since the goal of a minifier is to make the payload as small as possible, this would likely include removing comments, but would also include more optimizations.

- `912559` is one character fewer than `0xDECAF`.
- `"Don't forget to pick up eggs."` is one character fewer than `'Don\'t forget to pick up eggs.'`.
- `1` is four characters fewer than `1.000`.
- `{abc:123}` is three characters fewer th

[2019-06-15 06:48] DonaldTsang opened #13 "Possible compatibility with ES6"
After reading these two repos, I would like to question whether there can be improvements for JSON5 to be compatible to ES6.
- https://github.com/d3x0r/JSON6
- https://github.com/d3x0r/JSOX

[2019-06-15 06:51] DonaldTsang opened #14 "Making a speical page for different language implementations of JSON5"
For example
- PHP https://github.com/colinodell/json5 and https://github.com/kujirahand/JSON5-PHP
- Go https://github.com/yosuke-furukawa/json5 and https://github.com/json5/json5-go and https://github.com/flynn/json5
- Rust https://github.com/callum-oakley/json5-rs
- Python https://github.com/Kijewski/pyjson5 and https://github.com/dpranke/pyjson5
- C# https://github.com/json5/json5-dotnet

(inclu

[2019-06-16 05:30] jordanbtucker commented on #14
Thanks for this list. We already have a place for this on the [JSON5 Wiki](https://github.com/json5/json5/wiki/In-The-Wild). Can you please add these there?

[2019-06-16 05:30] #14 closed, assigned to jordanbtucker

[2019-06-16 05:34] jordanbtucker commented on #13
Although this is relevant to the spec, let's keep the discussion at https://github.com/json5/json5/issues/190 for now. Thanks.

[2019-06-16 05:34] #13 closed, assigned to nobody

[2019-06-16 09:29] DonaldTsang commented on #14
@jordanbtucker could you open a page for it? It currently redirect to main

[2019-07-08 23:42] shoogle opened #15 "Potential confusion with standard JSON specification"
The name "JSON5" is potentially confusing. People may think that this is the 5th version of the JSON specification when this is [not the case](https://github.com/json5/json5/issues/175). JSON5 is a separate project, no more related to JSON than jsonc, CSON, or any other JSON extension/alternative.

It is perhaps a bit late to change the name now, but would you at least consider making it clearer t

[2019-07-24 13:38] bogdan commented on #4
My main problems with dates are inside API calls:
Client code has to know that specific fields in JSON structure returned by the API are dates and need to be parsed manually over and over again for each API call that returns dates. That is pretty common in all web apps.

I was thinking about allowing something like this in JSON:

[code]

[2019-07-26 21:06] skoehler commented on #2
I was referred to this issue and I would like to point out a discrepancy in the following text, which apparently is from the official JSON spec:

The interchange of information between programs (and thus machines) has become a major use-case of JSON.  It's nice that it's human readable. But when I'm finished writing my programs, I rarely read or write JSON. As such, it is mind boggling why numbers

[2019-07-26 23:03] jordanbtucker commented on #2
@skoehler Thanks for your comments, but this issue was settled in September 2017. I pointed you to this issue to explain why `Infinity` and `NaN` are not in the README. However, they are part of the spec and that will likely never change.

[2019-08-01 00:10] tracker1 commented on #4
If the spec is extended, I'd prefer bogdan's solution... though, would probably be somewhat better to remain compatible as a string.

[code]

An encoded data record should start with:
[code]

If the string starts with `DLE + SOH` and ends with `ETX + EOT + DLE` then it can be checked for an encoding.  Further split on `STX` into header and body parts.

In this case `TYPE` could be `"DATE/RFC3339"`

[2019-08-02 17:34] jordanbtucker commented on #4
I don't think it's a good idea to start treating strings as maybe-dates, especially when it breaks backward compatibility.

On another note, I think putting non-printable characters in strings would make JSON5 less human readable than JSON.

[2019-08-05 21:22] yonatanLehman opened #16 "Allow use of backquote to support multiline strings"
Hi
I've implemented a change in parser.js that accepts multiline using backquotes instead of using \ at the end of each line.
{
    "val2a" : `
    line 1
    line 2
    `,
    }
}
Meaning you don't need to add back slashes - the above is equivlient to
{
    "val2a" : "
    line 1\
    line 2\
    "
    }
}

I'd like to contribute this to json5, but I am a newbie in open source, so please tell me

[2019-08-05 21:59] jordanbtucker commented on #16
Thanks for the suggestion. Unfortunately, one of the core tenets of JSON5 is that it must be compatible with ES5. Since this suggestion is not, I'm going to close it.

[2019-08-05 21:59] #16 closed, assigned to jordanbtucker

[2019-08-05 23:16] yonatanLehman commented on #16
How funny, I would have thought the core tennet was to make json easy to
use? Why would any potential user prefer es5 compatiblity to ease of use?

I don't mind, my needs are satisfied by my clone, and I suppose I could
create a json6 if I wanted, but who would gain from yet another json
version? Why do you want to freeze the format forever? Its actually a very
minor change, allready coded and tes

[2019-08-06 00:03] jordanbtucker commented on #16
One of the core tenets of JSON5 is to make it easy to use for humans. Adding too many features actually makes it harder for humans to use because it expands the scope of features you need to remember when reading or writing JSON5.

Keeping JSON5 compatible with ES5 protects the project from scope creep. I feel that the set of features provided by JSON5 allows an easy to use (for humans) version of

[2019-08-06 18:44] yonatanLehman commented on #16
Found JSON6  which fits the bill nicely...

בתאריך יום ג׳, 6 באוג׳ 2019, 03:03, מאת Jordan Tucker ‏<
notifications@github.com>:

[2019-09-27 17:05] jianwu commented on #16
I like the philosophy of json5 for most of the points. Really hope it can be pushed as a standard.

But as ES6 has become mainstream version (support by most browsers) and ES5 considered legacy. Make json5 stick with ES5 seems not very reasonable. I really hope it can lose a bit. The ES6 '`' string literal is much nicer compared to "\" continuation character. The '`' literal makes it much easier t

[2019-09-30 16:26] mindplay-dk commented on #10
The conversion from numbers to strings is lossy.

While this may be convenient in JS at times, when it comes to a data storage/transport format, this could lead to some extremely unpredictable bugs.

In my optic, this sort of thing is unprecedented in JSON, which doesn't do any other type-conversions on the fly - I think that's one of the reasons JSON is very safe and reliable as a data format; pr

[2019-09-30 16:32] mindplay-dk commented on #7
My first concern would be, how would this even work when the document is being fetched from a web-server? Or worse, over web-sockets, where there isn't even any concept of paths?

In my opinion, this feature would be quite a radical departure from JSON, being a self-contained data file format - and over an HTTP connection, it would likely raise all sorts of questions about caching and security as

[2019-09-30 16:39] mindplay-dk commented on #6
Aren't platform concerns outside the scope of the specification?

I don't think JSON stipulates any details about platform constraints?

Platform constraints are going to vary among platforms (duh 🙄) so I don't think it makes sense for a standard that describes a *transport encoding* to stipulate any details about how numbers should be stored or represented outside of the file, e.g. in memory, in

[2019-09-30 16:47] mindplay-dk commented on #4
In my opinion, platforms and languages have too many differences when it comes to date/time storage, time-zone conversions, parsing, formatting, precision, etc. - and also, these are often subject to change on various systems as they evolve over time, adding/removing time-zone, changing precision, etc.

I think that specifying anything about dates is probably unnecessary, as most systems already s

[2019-11-24 06:53] DonaldTsang opened #17 "Proposal: subsets of JSON5"
If it is possible, I would like to see one of two things:
- a subset of JSON5 that is explicitly either an Object or Array, such that the file can have a "file signature" or a set of file signature that is 2 bytes or more (preferably 4 bytes)
- a formalized subset of JSON5 that only allows for "beautified"/"formatted" version of JSON5 with stricter grammar

[2019-11-27 18:58] prescod commented on #4
I disagree strongly with @mindplay-dk . Anyone who is very particular about how their dates are interpretered will always have the option of encoding them as strings or objects.

But 99.99% of the use cases are already handled in rfc3339. People have already spent a lot of time and effort figuring out wire syntaxes for these things and we depend on those wire syntaxes literally every time we use t

[2019-11-27 19:01] jordanbtucker commented on #4
If parsing strings as maybe-dates is a parser option, then I don't think it belongs in the syntax.

[2019-11-27 20:09] dcleao commented on #4
Honestly, I don't see the problem in a generic solution, such as:

[code]
[code]

And something inverse for `JSON.stringify`.

[2019-11-27 21:03] prescod commented on #4
@jordanbtucker : Okay then, let's drop the idea of having it be a parser option. We can define a unambiguous and backwards-compatible syntax and just move forward.

I could live with either the string-embedded solution or dcleao's solution. The string-embedded version is a lot less "syntax" but dcleao's is more generic for future extensions.

[2019-11-27 21:12] jordanbtucker commented on #4
@prescod Please see my comments at https://github.com/json5/json5-spec/issues/4#issuecomment-373868688

Once you start treating strings as maybe-dates, it is no longer deterministic and it breaks backward compatibility.

[2019-11-28 01:18] prescod commented on #4
Hey Jordan: I did read your comment and I thought that my prefix addressed it. The chances that there exists a string prefixed with "jsondate:" in the wild, which is NOT a JSON date seems minuscule to me. The chances of your program being broken by a cosmic ray are much higher. And we could lower it even further by calling the prefix "json5date". Google can find only two bits of code that use that

[2019-11-28 01:54] jordanbtucker commented on #4
@prescod What if you actually want a string that starts with "jsondate:" instead of a date?

[2019-11-28 18:45] mindplay-dk commented on #4
Read through this whole thread again, here are some thoughts.

Ideally, I would like to have support for a date/time literal - I just don't see how we can remain compatible with JSON and ES5 if we do so.

Following a simple recommendation (as OP proposed) would be easy and natural in JS though.

Dates do convert to RFC 3339 format by default:

[code]

Likewise, the `Date` constructor accurately pa

[2019-11-29 15:09] DonaldTsang opened #19 "Proposal: Define 32-bit, 64-bit and larger floats/numbers well"
A friend of mine mentioned one issue: Is it possible to set rules on floats and numbers such that it is made to be compatible to either JS/Go/Python float/double or BigInt?
Or if we are doing semi-arbitrary floating point precision, define how many digits are required to make sure there are no loss of information? Maybe decimal vs octal/hexadecimal should also be considered when dealing with preci

[2019-11-29 15:27] DonaldTsang opened #20 "Define string vs base32 vs base64"
Might be a good idea to have a YAML `!!str to !!binary` (binary as in base64) equivalent.
Base64 should be standardized to be HTML and JSON safe, either RFC 4648 §5 (`- and _`) or, next best option, RFC 4648 `+ and /` (might cause issues with comments if there are double slash in the data).
base32 should be either Crockford's, or second best, RFC 4648 (more confusable characters).

[2019-11-29 22:35] prescod commented on #4
@jordanbtucker : Thanks for your question. It's a good one. Escaping is going to get ugly.

The problem with:

```    If a JSON5 <emu-xref href="#parsers">parser</emu-xref> expects a value to be a date```

Is that JSON parsers don't expect anything. JSON parsing is usually schema-less (one of the big benefits of JSON!). If I were a JSON5 parser author, I wouldn't know what to do with that line of

[2019-11-30 04:49] jordanbtucker commented on #20
What benefit does this have over storing Base64 encoded data in a string?

[2019-11-30 04:55] jordanbtucker commented on #19
The JSON and JSON5 specs intentionally define numbers in a generic way. There is no requirement that numbers be IEEE-754 single or double precision floating point numbers. There is also no requirement that integers be 32 or 64 bit. If two parties need to agree on a certain restrictions for numbers, that can be done via a schema or by documentation. Adding the ability to define these restrictions i

[2019-11-30 05:10] jordanbtucker commented on #4
The term "parser" is intentionally left generic. It means anything that consumes JSON5 text. It does not necessarily mean a JSON5 parsing library like https://github.com/json5/json5. That being said, if a JSON5 parser library uses some form of schema, then it would be able to expect a date. That is the intention of that clause.

JSON5 is in wide use, so making any breaking changes requires extra c

[2019-11-30 05:12] jordanbtucker commented on #17
What are the reasons or use cases for these subsets?

[2019-11-30 10:13] DonaldTsang commented on #20
@jordanbtucker it IS base64 in a string, just that we need some kind of "flag" or "header" to note is as such.

[2019-11-30 10:17] DonaldTsang commented on #19
@jordanbtucker perhaps it is possible to add a header to note that it is a Single/Double (IEEE-754), BigInt (assume that all numbers are bigInt) or Arbitrary-Precision Number? That way it can make things easier to parse. If someone were to send a float that is abnormally long it might be good to make sure that the parser can accept the number without data loss.

[2019-11-30 10:19] DonaldTsang commented on #17
@jordanbtucker for bullet point No.1 that would be for `.json5` file recognition using "magic bytes" (since Objects can be defined by its signature `{` followed by whitespace, `}` or a opening quote or double quote, and Arrays `[` followed by data, whitespace or `]`), and for bullet point No.2 that would be for creating a strict subset that is both aesthetically pleasing and easier to parse for th

[2019-11-30 12:20] mindplay-dk commented on #4
@prescod This was already [commented on](https://github.com/json5/json5-spec/issues/4#issuecomment-559309696) - same problem here, it's a breaking change: what if you *actually* want to encode that value?

The essence of this argument is you can't change the meaning (semantics) of anything that could already exist in JSON data structures - doing so would be a breaking change.

I understand the des

[2019-11-30 13:08] DonaldTsang opened #21 "Documentation: Comparison and design decision of other "languages""
It might be a good idea to compare JSON5 with the features of these languages (and of course YAML, TOML, CSON, INI and others that are popular)
- https://github.com/dhall-lang/dhall-lang
- https://github.com/hashicorp/hcl
- https://github.com/archipaorg/icl
- https://github.com/mrkkrp/liaison
- https://github.com/ron-rs/ron
- https://github.com/svenvc/ston
- https://github.com/Sygmei/Vili

[2019-11-30 16:15] DonaldTsang commented on #20
Just a note: We are not even considering
- 32-bit base85 0.99 (standardized "somewhat")
- 128-bit base69 0.95 (more efficient than base64)
- 256-bit base76 0.97 (more efficient than base64)

since these are more niche formats for packing more data than base64

[2019-11-30 16:23] jordanbtucker commented on #17
What are the *real world* use cases for these suggestions? Why is implementing these subsets worth the issues of fragmenting JSON5 and making the syntax more complex?

[2019-11-30 16:25] jordanbtucker commented on #19
This is not the job of the syntax. This is handled by the schema or contract between applications.

[2019-11-30 16:26] jordanbtucker commented on #20
How would you implement this in an ES5 compatible way?

[2019-11-30 16:27] DonaldTsang commented on #17
@jordanbtucker for No.1 not more complex, rather *less* since we are restricting a subset within the standard e.g. the outer most layer MUST be an object or it MUST be a list, which is well defined.
for No.2 though it is a matter of linting and formatting, so if there is a standard that allow weaker parsers to handle that would be useful (got the idea from https://hitchdev.com/strictyaml/ where a

[2019-11-30 16:30] DonaldTsang commented on #20
@jordanbtucker perhaps instead of `"string"` maybe `["format", "string"]` ? I think "octet-stream" is a common flag as well?

[2019-11-30 16:32] jordanbtucker commented on #20
I still don't understand. Can you give a full example of a JSON5 document that uses your proposed feature?

[2019-11-30 16:32] DonaldTsang commented on #19
But isn't the schema what the syntax is based on? In order for languages to interact with JSON5 "safely" it should have some baseline rule on when a number is breaking standards?

[2019-11-30 16:35] DonaldTsang commented on #20
Here is an example in standard JSON with base64 encoding
[code]
Surly there could be a way for JSON5 to trim the fat and make base64 object wrappers "shorter"?

[2019-11-30 16:36] jordanbtucker commented on #19
No, the schema further restricts the syntax and structure of a JSON5 document. Parsers can impose restrictions on how it handles numbers. This makes the syntax loose enough to handle many different types of numbers at the expense of losing automatic interoperability.

[2019-11-30 16:37] jordanbtucker commented on #20
Yes, there could be a way for JSON5 to make this shorter, but why? Why isn't your example good enough?

[2019-11-30 16:42] DonaldTsang commented on #20
Too many characters or too clunky (my first thought)? if I can design my syntax then `s"base64string"` or something where the first `s` is the flag of the string? And the same can be applied to different encodings or something? Maybe it is too much complexity?

[2019-11-30 16:43] DonaldTsang commented on #19
So is it possible to have Parser rule enforcement, at least for JSON5's main repo such that we can keep it "in line"?

[2019-11-30 16:43] jordanbtucker commented on #20
This breaks ES5 compatibility.

[2019-11-30 16:49] jordanbtucker commented on #19
JavaScript only handles IEEE-754 numbers, so all JSON5 numbers conform to that specification. Numbers that are too large or too small lose accuracy. What rule needs to be enforced?

[2019-11-30 16:54] DonaldTsang commented on #19
@jordanbtucker JSON5 is meant for all languages (theoretically) so can IEEE-754 numbers rules be applied to major parsers within JSON5? When I say rules regarding IEEE-754 I meant some people who tries to break the system by giving a float 100 decimal digits or something silly like that.

[2019-11-30 16:55] DonaldTsang commented on #20
What would be the most lightweight yet compatible way of labeling a string as base64 or some other common encoding?

[2019-12-01 22:18] tracker1 commented on #4
Instead of `_` I would suggest, maybe `_DATA_TYPE_` as the key.  Possibly come up with with a deterministic function to pass to JSON.parse and a `.jsonEncode` extension method returning an object to stringify that would be checked by JSON.strungify ahead of the toJSON method.

[2019-12-02 13:24] dcleao commented on #4
@mindplay-dk, @prescod, @tracker1 the proposed, generic _inline type_ syntax is not a breaking change, imo, in the sense that taking advantage of it would require the explicit specification of a "type parser map" to the `JSON.parse` function (and, likewise, the explicit use of some inverse mechanism for the `stringify` function) — it's opt-in, and, thus, can be seen as backwards compatible. An emp

[2019-12-13 15:50] Kijewski opened #22 "JSON5SingleStringCharacter: Paragraph separator not allowed in JSON5, but in RFC8259"
[RFC 8259](https://tools.ietf.org/html/rfc8259#section-7) allows unescaped line separators (U+2028) and paragraph separators (U+2029) in strings:

[JSON5](https://spec.json5.org/#strings) forbids unescaped line and paragraph separators in strings:

Where [ECMAScript 5.1](https://www.ecma-international.org/ecma-262/5.1/#sec-7.3) states:

This means there is valid JSON data, that is invalid in JSON5

[2019-12-14 16:56] jordanbtucker commented on #22
Please see [5.2 Paragraph and Line Separators](https://spec.json5.org/#separators).

[2019-12-14 19:55] jordanbtucker commented on #20
You could encode the string like this:

[code]

Then use a recover function to parse it.

[2019-12-14 22:04] jordanbtucker commented on #19
If parsers want to restrict numbers to IEEE-754 representations, then they may do so. The official reference parser does this because that's what JavaScript supports. However, the spec does not enforce this restriction. This allows for JSON5 processing applications that can agree upon representations beyond IEEE-754, like arbitrarily large numbers, to communicate.

[2019-12-14 23:46] Kijewski commented on #22
IMO JSON5(Single|Double)StringCharacter should link to this section instead of ECMAScript's documentation then, to make it obvious that ECMAScript's documentation is in fact not the relevant spec for unescaped line and paragraph separators in string literals.

[2019-12-15 00:00] jordanbtucker commented on #22
The *JSON5DoubleStringCharacter* production clearly lists `U+2028` and `U+2029` as matching characters, and section 5.2 reenforces this, so I'm not sure where the confusion is.

[2019-12-15 00:37] Kijewski commented on #22
The link:

[code]

[2019-12-15 01:10] jordanbtucker commented on #22
Yes, *LineTerminator* includes `U+2028` and `U+2029`, which means the first rule in *JSON5DoubleStringCharacter* does not match those characters. That is why that production explicitly includes those characters later. They are matched by a later rule in that production.

[2019-12-15 06:13] DonaldTsang commented on #20
`'b64:SGVsbG8sIFdvcmxkIQ=='` looks even slimmer TBH, maybe we can write other compatibility documents outside the JSON5 standard (but by the JSON5 committee) to aid in designing API recommendations?

[2019-12-16 13:42] #22 closed, assigned to jordanbtucker

[2020-04-27 16:27] brimworks opened #23 "Support number separators?"
Given that JSON5 is JSON for humans, it would sure be nice if decimal numbers could be written with a separator so it is clear what magnitude a number is. For example, writing `1,000,000,000` is clearly a million, but `1000000000` is unclear. Perhaps this should even be a request of the ECMA spec? In other languages, I've seen `_` used as the separator so `1_000_000_000` is one billion and by usin

[2020-04-28 02:51] jordanbtucker commented on #23
Thanks for your suggestion, [numeric separators](https://github.com/tc39/proposal-numeric-separator) is a stage 3 proposal for ECMAScript. Unfortunately, it is not compatible with ES5, so it won't be added to JSON5. We aim to keep JSON5 simple by only adding features from ES5. This keeps JSON5 easy to implement and prevents scope creep.

[2020-04-28 02:51] #23 closed, assigned to jordanbtucker

[2020-04-28 03:29] brimworks commented on #23
Oh, it looks like this might be a possible addition (since it is in stage 3). How would you feel if certain implementations did support number separators as valid grammar? In particular, I've created a Java implementation and was considering allowing for underscores in numbers.

[2020-04-28 03:36] jordanbtucker commented on #23
Feel free to extend JSON5, however if you do, please don't call it JSON5 anymore. If your library can parse JSON5-compliant documents, that is fine to promote that. You could say, for example, that your library is backward compatible with JSON5.

However, if your library can generate documents not compliant with JSON5, then please don't call those documents JSON5. A document that contains numeric

[2020-04-28 13:07] brimworks commented on #23
Yep, makes sense :).

[2020-05-08 19:24] jordanbtucker commented on #4
I'm closing this issue as it breaks the unofficially official ["no new data types" rule](https://github.com/json5/json5/blob/5cbd65659706f4071e7cbf3aebd4298c0a879c2d/README.md#json5--json-for-humans).

[2020-05-09 05:34] bogdan commented on #4
How many years would it take humanity to fix dates in json?

[2020-05-09 05:44] jordanbtucker commented on #4
This kind of reminds me of the [Time Zones video by Tom Scott](https://youtu.be/-5wpm-gesOY).

[2020-05-11 09:55] dcleao commented on #4
That's a pity.
JSON5 is and will be a relaxed syntax version of JSON.
It does not have or will have a standard mechanism by which an **externally** defined data types can be indicated — a convention like the simple, special `_` property.

[2020-05-11 14:56] jordanbtucker commented on #4
@dcleao There is already a standard mechanism for defining data types. It's called [JSON Schema](https://json-schema.org/).

[2020-05-12 18:17] ell1e opened #24 "Clarify implementation limits on NaN and Infinity"
I am thinking about adding support for JSON5 in a programming language that doesn't have NaN as a numeric value (operations that would produce it cause an exception instead). Is there any suggestion or experience of others in regards to what should I do in such a case with JSON5 that contains a NaN? Is there a name of a subset that is "JSON5 but not a NaN" that I could refer to so people don't get

[2020-05-12 19:35] jordanbtucker commented on #24
Thanks for the question. If you have questions about how to interpret or implement the JSON5 specification, then you've come to the right place.

NaN and Infinity have always been a [point of contention](https://github.com/json5/json5-spec/issues/2) for me since I joined this project. I figured an issue like this would come up eventually.

It's okay to reject a JSON5 document that contains `NaN` i

[2020-05-12 19:47] jordanbtucker commented on #24
Additionally, I think it's best to give developers the option to parse JSON5 documents even if they contain `NaN`. Often times, developers do not have control over what a JSON5 document contains, so flat out rejecting an entire document because it contains `NaN`, without offering an alternative, will probably not be a pleasant experience for developers.

[2020-05-12 20:58] ell1e commented on #12
May I ask why `U+....` is limited to the UTF-16 range and surrogates are used in the first place? If that was changed, then any sort of escaping would also automatically become moot because even the higher code points could be put in directly without surrogate workarounds

[2020-05-12 22:05] jordanbtucker commented on #12
@ell1e Unicode escapes are limited to UTF-16 code units because that's the syntax available in ES5.

[2020-05-12 22:18] ell1e commented on #12
Oh, how unfortunate. I get if you want to stick to it since JSON traditionally mapped to valid JavaScript, but I would suggest at least *considering* to change this if an opportunity presents itself (new revision of the spec, if that is ever done). After all, technically it shouldn't be too hard to write a JavaScript parser that reads this, even when ES5 itself wouldn't accept the according escape

[2020-05-13 06:35] ell1e opened #25 "Clarify uniqueness of property names"
When I read  the spec, there is one point I found somewhat unclearly specified: are identifiers in object keys meant to be a short-hand for strings, or something that should remain separate after parsing & re-serializing? (If discounting lost formatting)

I assume they are just meant as a short-hand, since the JSON5Value list seems to indicate what is meant to be returned after parsing:
[code]
Aft

[2020-05-13 06:37] ell1e commented on #24
Ok. In that case I would suggest to expand this:

into something like:

[2020-05-13 06:49] ell1e commented on #12
Just to explain this further, I feel like there are a lot of headaches in the world because of UTF-16 surrogates. E.g. the ES6 specification leads to confusing surrogating-the-surrogates in languages like Python 3 which use surrogates already for implementing broken values like in WTF-8 which is needed to retain broken surrogates in e.g. broken UTF-16 implementations like windows in an UTF-32 stri

[2020-05-13 18:48] jordanbtucker commented on #12
@ell1e You make some good points. I'm wondering why the ECMAScript Specification decided to keep unmatched surrogates rather than reject them as invalid, and whether their reasoning should pertain to JSON5.

This restriction does not exist in the JSON spec either, but that may be because so many JSON documents already exist in the wild, and adding that restriction would invalidate some JSON docume

[2020-05-13 18:56] jordanbtucker commented on #25
Good point. You are correct that `abc`, `'abc'`, `"abc"`, and `\x61\x62\x63` are all variations of the same "name". This should be clarified in the spec.

[2020-05-13 19:16] ell1e commented on #12
Ouch, I never noticed these broken code-points-but-actually-UTF-16 actually were in original JSON, I assumed `\U+...` was a JSON5 addition. Well that is a bummer. And I checked the spec, it says:

   Plane, the character is represented as a twelve-character sequence,
   encoding the UTF-16 surrogate pair.  So, for example, a string
   containing only the G clef character (U+1D11E) may be represent

[2020-05-13 19:22] jordanbtucker commented on #12
Oh yeah. JSON5 is a superset of JSON, so if it's allowed in JSON it needs to be allowed in JSON5. Adding this restriction would actually break compatibility with JSON. So it's a no go.

[2020-05-13 19:27] ell1e commented on #12
Yeah I agree. Ignore all I said :joy:

Edit: I mean to be fair, JSON doesn't really say it's allowed either. But in practice probably most implementations will allow it, so probably too late to try to curb it now.

[2020-05-13 19:36] jordanbtucker commented on #12
Your points are still valid, so I think it would be good to add a *recommendation* to avoid invalid surrogate pairs, similar to how avoiding duplicate names and using RFC 3339 formatted dates are recommendations, but not hard requirements.

[2020-05-13 19:37] jordanbtucker commented on #4
Reopening and renaming since the original issue proposed adding a *recommendation* for using an interoperable formatting for dates in strings.

[2020-05-13 19:42] #20 closed, assigned to jordanbtucker

[2020-05-13 19:56] ell1e commented on #12
Edit: the following is basically all nonsense, nevermind :smile:
~~If i may point out, I think JSON5's addition of `\x...` complicates this though:~~

~~Basically I think it is common that highlevel languages with an UTF-32 string type support retaining *either* binary garbage *or* invalid surrogates. The common approach in language runtimes (e.g. Python 3's surrogateescape mode which is used by d

[2020-05-13 20:15] GULPF commented on #12
I'm not sure I fully understand this discussion, but it's my understanding that `\xHH` is not a byte escape sequence, it's a unicode escape sequence for the range `U+0000-U+00FF`. From the JSON5 spec:

As such `\xHH` cannot be used to represent arbitrary byte sequences, it's just a shorthand for `\u00HH` and should not have an effect on this issue.

[2020-05-13 20:18] jordanbtucker commented on #17
Sorry for taking so long to get to this. I still don't know why you're proposing a subset for JSON5 documents where the top level value is an object or array. What real word problem is this trying to solve. Give me a use case where a new subset specification is necessary.

As for the formatted spec, I see several problems with this. First, no one is going to agree on what is "formatted". Does that

[2020-05-13 20:21] jordanbtucker commented on #21
I think this belongs in the Wiki.

[2020-05-13 20:21] #21 closed, assigned to nobody

[2020-05-13 20:23] #19 closed, assigned to jordanbtucker

[2020-05-13 20:27] ell1e commented on #12
Oh, haha, my bad. Yeah in that case it's moot, it seems like I should just read the spec better and write less :woman_facepalming: Edit: I'm wondering though, isn't that quite unusual? I've never seen `\x...` used like that anywhere else

[2020-05-13 20:39] jordanbtucker commented on #6
I don't think the representation or storage of numbers outside the JSON5 document is in question here. What's being proposed is that we specify what a hexadecimal number *means*.

The JSON specification explicitly states that numbers are base 10. So all implementations can agree that `3.14` means three and fourteen hundredths in base 10. This also means that one implementation won't see `11` as th

[2020-05-13 20:42] #7 closed, assigned to jordanbtucker

[2020-05-13 20:45] #10 closed, assigned to jordanbtucker

[2020-05-13 20:46] #15 closed, assigned to jordanbtucker

[2020-05-13 20:47] #11 closed, assigned to jordanbtucker

[2020-05-13 20:47] #9 closed, assigned to jordanbtucker

[2020-05-13 21:04] jordanbtucker commented on #12
@GULPF, you hit the nail on the head.

@ell1e, `\xHH` escapes in strings are more common than you might think. Off the top of my head, I know that C, C#, Python, Ruby, PHP, and of course JavaScript have them.

Java is the exception, but escapes in Java have [always been weird](https://docs.oracle.com/javase/specs/jls/se14/html/jls-3.html#jls-3.3). For example, `"\u000A"` is escaped by the compiler

[2020-05-13 21:09] jordanbtucker commented on #12
@ell1e I think I misunderstood your question. ECMA languages, like Java, JavaScript, and C# treat strings as a sequence of UTF-16 code units. So `\xHH` escapes are seen as 16-bit code units rather than 8-bit bytes.

[2020-05-13 21:13] ell1e commented on #12
I guess this is more of a C/C++ thing, that `\x...` is not mapping to a code point but to a raw binary value. Interesting, I never realized this is commonly different in scripting languages. Unicode is weird :+1: also thanks for being so patient :joy:

[2020-05-13 21:30] jordanbtucker commented on #12
ECMA languages are the exception. Most other languages store strings as bytes, so `\xHH` escapes will probably be bytes most of the time.

Rust is another exception as it stores character strings as UTF-8 and only allows `\xHH` escapes with values up to 0x7F. Rust also has byte strings, which are ASCII but allow `\xHH` escapes to store full range bytes.

[2020-05-13 21:44] ell1e commented on #12
Yeah the Rust behavior is what I expected `\x...` to do. Maybe that would be an argument to leave that extension away? This different behavior did really surprise me, although I checked and Python 3 appears to treat it like that too, so it's not just JS.

[2020-05-14 05:24] mindplay-dk opened #26 "Feature: constant names (unquoted string literals)"
I just thought of a way to further reduce the noise in configuration files and the like.

What if we allowed unquoted string literals?

For example:

    { foo: bar }

That's not a JS feature, but it is JS compatible syntax - it merely presumes `bar` is a `const`, which has been predefined with the value `"bar"`.

Thoughts?

[2020-05-14 20:54] jordanbtucker commented on #26
Thanks for the suggestion, but any features that are incompatible with ES5 will not be implemented.

[2020-05-14 20:54] #26 closed, assigned to jordanbtucker

[2020-05-15 14:31] aseemk commented on #24
(@jordanbtucker: just want to say you continue to kill it as a maintainer and steward of this project, and I appreciate that very much. Thank you! ❤️)

[2020-05-16 04:32] DonaldTsang commented on #17
Yeah Prettier is the exact thing I was referring to. A standard Prettier format for JSON5 would be good.

[2020-05-17 10:07] mindplay-dk commented on #4
Okay, so returning to the original discussion, RFC 3339 is definitely the right choice in terms of interoperability - it's supported everywhere, sanctioned by the W3C, and so forth.

The only thing I'm wondering is whether this covers real-world use-cases well enough for things like scheduling, planning, calendars, etc.?

Given that it [does not](https://tools.ietf.org/html/rfc3339#section-4.1) su

[2020-05-20 06:27] jordanbtucker commented on #4
@mindplay-dk Good points.

IMO, if you need real time zone information (not just the offset), just include it in its own property along with the date.

I think an important thing to remember is that JSON5 is JSON for humans, which means human readable dates are important. Many applications that communicate via JSON use Unix timestamps, and while that's great for machines, it's practically useless

[2020-05-20 06:29] jordanbtucker commented on #17
Prettier already supports JSON5.

[2020-05-20 06:29] #17 closed, assigned to jordanbtucker

[2020-05-26 18:38] mindplay-dk commented on #4
Good answer, so let's put that in the spec? e.g. "date/time values *should* be represented as strings in RFC 3339 format", and "timezones *may* be included in a separate property from the date".

Good point, let's remove that whole section from your proposed text?

I'm also not sure you should say anything about JSON 5 parsers or generators - keep it simple, stay on point: date/time values in RFC

[2020-05-29 13:12] ThePix opened #27 "Dictionaries may have a single trailing comma."
The readme says arrays may have a single trailing comma; what about dictionaries?

The argument for this is the same as it is for arrays (though I guess it is more common to use arrays).

This may already be the case, in which case the readme coiuld usefully be updated.

[2020-05-29 15:28] jordanbtucker commented on #27
Thanks for submitting this issue, but are you sure you have the right repo? The readme for this repo just points to the spec, which does say that objects can have trailing commas. And the readme for the [json5 library](https://github.com/json5/json5) also mentions this.

[2020-05-30 17:13] bford opened #28 "Leading and/or trailing decimal points in literals"
First, thanks for all your hard and continuing work on this spec!

I'm finding the specification of Number syntax a bit unclear, though, with respect to trailing decimal points in particular.

The JSON summary says "Numbers may have a leading or trailing decimal point", but I don't quite see that expressed in the Number syntax description in section 6.  For example, it says "Decimal numbers contai

[2020-05-30 22:38] #27 closed, assigned to jordanbtucker

[2020-05-30 22:41] jordanbtucker commented on #28
Thanks for pointing this out. The spec should definitely be updated with your suggestions. I lifted most of the verbiage from the [JSON RFC](https://tools.ietf.org/html/rfc8259), which is why it doesn't quite match the rules of JSON5.

[2020-05-30 22:45] jordanbtucker commented on #4
@mindplay-dk Good points. Maybe the JSON5 spec should have an "Authoring JSON5 Documents" section since JSON5 is meant for human-machine data transfer.

[2020-06-27 06:37] TheHalcyonSavant opened #29 "Dash in keys"
Hi,

Why this format can't be supported?:
[code]

Thanks

[2020-06-27 07:21] jordanbtucker commented on #29
Dashes in keys are not allowed in ES5. Since JSON5 is compatible with ES5, keys can't have dashes in JSON5.

[2020-06-27 07:21] #29 closed, assigned to jordanbtucker

[2020-07-07 12:16] abrudz opened #30 "Missing escape for /"
The [list of escapes]() is missing one entry:

|Escape Sequence | Description | Code Point
| -- | -- | --
| `\/` | Solidus | U+002F

This one (while not needed) is part of [the JSON spec](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf#page=12):

[2020-07-07 16:03] jordanbtucker commented on #30
Thanks for the suggestion. The reason that JSON incluldes `\/` as a special escape is because JSON's list of escapes is exclusive while ES5's list is not. For example, `\a` is an error in JSON, but `\a` is just `a` in ES5.

The reason for JSON to include `\/` in its list is, I've seen cited but don't have a source, as a way to allow `</script>` to appear in HTML source code as `<\/script>` so the

[2020-07-07 16:25] abrudz commented on #30
Ah, I see. Sorry to disturb, then.

[2020-07-07 16:25] #30 closed, assigned to jordanbtucker

[2020-07-07 16:28] jordanbtucker commented on #30
No need to apologize. I appreciate all contributions to this project. Thanks for noticing the discrepancy and bringing it here.

[2020-09-02 09:34] wongchichong commented on #10
I think this is necessary, I need sparse array., because of this, I use json-z for the following syntax:

`[.1, .1,,, .1, 10: .1, "100000": .1]`

As the title is integers as key, those floating point name, engineering numeric should be ignore.
JSON = Javascript Object Notation, other languages such as Ruby/C#/Python should comply to Javascript Object Notation behavior for interoperability .

[2020-10-03 15:03] AldoMX opened #31 "Proposal: Numeric literals in object keys"
With the current spec, the following JSON is invalid because the keys are not a valid identifier name:

[code]

This ticket is to propose allowing numeric literals alongside identifier names for object keys.

[2020-10-03 15:11] jordanbtucker commented on #31
Thank you for this proposal. It is a duplicate of #10. Please see the comments there.

[2020-10-03 15:11] #31 closed, assigned to nobody

[2020-11-12 02:44] AlexiyOrlov commented on #10
Is a key with plus sign valid, like `one+two: "three"`?

[2020-11-12 02:46] jordanbtucker commented on #10
No, it is not valid ES5 nor JSON5.

[2020-11-24 12:05] dalle commented on #12
It would be nice to have support for `\Unnnnnnnn` though (capital U).

The G clef character "𝄞" (U+1D11E) would be escaped as `\U0001D11E`.

[2021-06-18 15:46] nopdotcom commented on #2
The issue of what the spec says may be settled, but what toolmakers do with it isn't. It sounds like there would be a demand for JSON5 decoding that does not permit NaN or Inf±. Certainly if you advertise a drop-in API replacement for JSON parsing, it would be disturbing if the range of output from the replacement function was different from the range of the original.

And you *do* advertise a dro

[2021-06-18 15:52] ell1e commented on #2
Yes, I think the output values changing is the big problem, also see my reasoning [here](https://github.com/json5/json5/issues/248).

While `inf+`/`inf-` may not change the stuff coming in (JSON -> internal data), I'm not so sure it doesn't affect the other direction (internal data->JSON): what do common JSON dump implementations do with infinite values? Don't they just error out, which is kind of

[2021-06-18 16:42] jordanbtucker commented on #2
@nopdotcom This is getting away from the topic of this thread, but I would like to respond. JSON5 is not advertised as a drop-in replacement for JSON. The intention of keeping the API compatible with JSON is to make it easier for developers to transition to using JSON5. They don't need to learn a brand new API because the method signature is the same. Maybe the wording should be changed to "The JS

[2021-06-18 22:19] ell1e commented on #2
That is however, IMHO, a notable downside. I ended up skipping on it entirely, and going with "JSON with comments" instead even though it is so badly underspecced, pretty much only due to this. I just felt like it would be hard for me to do a good enough implementation in a lang with no NaN, and I couldn't enable it by default either for the JSON module to make it immediately available to a wider

[2021-08-10 13:28] ghost opened #32 "allow self-referencing"
something like (this allows for self-recursion too)
[code]

[2021-08-10 17:06] jordanbtucker commented on #32
Thanks for the suggestion. Do you have any use cases for this feature?

[2021-08-10 17:12] ghost commented on #32
well the example in the OP
`"name": $self.firstName .. $self.lastName,`
would be useful

[2021-08-10 21:55] jordanbtucker commented on #32
I guess I was more asking: Why do you need this feature? What problem are you trying to solve?

[2021-10-09 10:11] yairlenga opened #33 "Submit JSON5 as internet standard"
Wanted the acknowledge the importance of this project. My team switched our product to JSON5 to simplify data entry for complex data objects by business users (professional - without development knowledge). This has resulted in big productivity gains for us. Previously, we supported json and YAML, which resulted in lot of frustrated users. With JSON5, the number of support cases is much lower.

wa

[2021-10-09 10:19] yairlenga opened #34 "Allow backquoted string (a.k.a., Template’s strings)"
Would like to suggest adding the back quote string (subset of ES6 template string) operator as an alternative to the single quote/double quote already supported.

see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals

The main advantage is that template string will allow embedding multi-line string, without having to escape the new lines. This will allow embedding

[2021-10-09 10:27] yairlenga commented on #4
I can see discussion is completed, but wanted to suggest an approach.

I opened https://github.com/json5/json5-spec/issues/34 asking support for the new ES  Template’s strings. The new format add support for tagged strings. Assuming that issue 34 is added, than it can be extended to support the tagged string, e.g. date`2008-08-05`. This approach is generic, and can be extended to other types of li

[2021-10-10 11:26] mindplay-dk commented on #4
If we were going to add backtick-quoted strings, adding tagged strings would seem more reasonable.

One small problem is then we're not strictly JSON**5** anymore, but JSON**6**, which [already exists](https://github.com/d3x0r/JSON6).

I'm not fond of JSON6, which adds far too many opinionated features and complexity - whereas I really appreciate the focus on simplicity with the JSON5 proposal, wh

[2021-10-10 15:00] yairlenga commented on #4
Thanks for feedback. I was not aware that JSON6 exists. I think it’s worth posting the $date`` as a proposal there. I would suggest that it make sense to codify recommendation to use the $date, $time, and $datetime - non JS languages may have different types here.

From a practical point if view, if json5 parser will adopt the tagged proposal, I think it should translate it to an object { $tag: “$

[2021-10-10 17:20] jordanbtucker commented on #4
@yairlenga There's also a pet project of mine called [JSONext](https://github.com/jordanbtucker/jsonext). It's similar to JSON6 in that it brings ES5 and ES6 features to JSON, but it's not intended to be tied to one version of ES. It can evolve over time.

@mindplay-dk Although I like your ideas about tagged templates for JSON-like formats that would allow for it (not JSON5), for the sake of keepi

[2021-10-10 17:23] jordanbtucker commented on #34
Thank you for your suggestion. JSON5 adheres to the syntax of ECMAScript 5. This is to ensure long-term compatibility and also to avoid scope creep and bloat. If you would like to use template syntax with JSON-like formats, you can look into [JSONext](https://github.com/jordanbtucker/jsonext).

[2021-10-10 17:23] #34 closed, assigned to jordanbtucker

[2021-10-10 17:30] jordanbtucker commented on #33
Thanks for your input. There was a discussion about standardization in https://github.com/json5/json5/issues/190, so you may find some of that interesting.

[2021-11-03 10:13] mindplay-dk commented on #4
Can we agree on adding a recommendation then?

I would suggest:

And perhaps, to be helpful, something along the lines of:

Let's get it done and let's close this discussion? No point in beating a dead horse. 😄

[2022-04-12 18:17] spitzak commented on #12
There is absolutely a requirement that \xNN turn into the BYTE with the value 0xNN. Otherwise it is impossible to store arbitrary bytes as strings in JSON5. This makes it impossible to use JSON5 to represent any data that is allowed to contain arbitrary bytes, such as Unix filenames. Apparently Windows users are not living in fantasyland and that is why invalid \uNNNN sequences are always supporte

[2022-04-12 18:24] spitzak commented on #4
Please do not have the parser turn quoted text into anything other than a string!

The application will convert the string to a date when it stores the data into it's own data structures and it has to do the conversion. It will also know it is (or is not) a date, there is absolutely no need to indicate the type in the string.

[2022-04-12 18:28] jordanbtucker commented on #12
@spitzak Thanks for the suggestions.

How does JSON currently handle this issue?

[2022-04-12 18:41] jordanbtucker commented on #4
@spitzak Thanks for your suggestions. I agree that converting date-like strings to dates would be a regression for JSON5. Keep in mind that this repo is for discussing the JSON5 specification, which deals the structure and semantics of the format, not the API.

If we were to add verbiage around this topic, it would be to *recommend* that generators store dates as strings in RFC 3339 format to incr

[2022-04-12 19:44] spitzak commented on #12
I believe it is somewhat random whether \xNN turns into the given byte value or into a pair of bytes (first one \xC2 or \xC3), depending on the JSON library. Typically a single byte if it uses 8-bit strings internally, two bytes if it uses 16-bit strings internally. My recommendation is that the single byte be made official behavior.

[2022-04-12 19:56] jordanbtucker commented on #12
But any JSON library that parses `\x` escapes is non-standard because JSON does not allow `\x` escapes.

In my experience, byte sequences are stored as arrays of numbers in JSON.

[2022-04-12 20:05] spitzak commented on #12
Yes, making an array of numbers is one of the possible solutions, however that is extremely user-unfriendly when 99.99999% of the strings actually are readable text. The reason to allow invalid bytes is so this does not have to be done and filenames, including the valid portions of ones containing invalid bytes, can remain readable.
This also complicates any program attempting to store into json a

[2022-04-12 20:41] jordanbtucker commented on #12
I see your point, but I'm not sure it's wise to redefine what a string is in JSON5 to accommodate this single use case of mixed text and bytes.

If your string is really an array of bytes, then it should be stored as an array of bytes, not a string. Both ECMAScript and JSON (ECMA-404) define strings as sequences of Unicode code points, whereas JSON (RFC 8259) and JSON5 define strings as sequences

[2022-04-12 21:40] spitzak commented on #12
Yes it would be a good idea to disallow \xNN for bytes that are easily encoded another way, for security reasons. This is a problem right now even if you ignore the invalid UTF-8 problem. It would be nice if various ASCII strings of interest can always be found with a grep command.

If invalid bytes require an array of numbers then you are *forced* to use this unsafe pattern. But it may be plausab

[2022-04-13 08:14] mindplay-dk opened #35 "Recommend an encoding for binary data"
Have you thought about some sort of support for embedding binary data? (blobs)

Unicode strings are not generic - not all escape sequences are valid Unicode.

What people typically do, is they encode binary data in base64 format - it's not very efficient or elegant, but probably okay for smaller binary chunks.

I wonder if we can think of something better?

If not, perhaps we could make a recommen

[2022-04-13 18:24] jordanbtucker commented on #35
Definitely. I prefer to use Base64 to encode binary in JSON and JSON5. Other APIs, like Node.js have opted to use arrays of numbers to serialize binary data into JSON. I'm interested in more discussion on the pros and cons of each, and whether there are other viable options as well. For the purpose of interoperability, it may be useful to give a recommendation in the spec based on our collective f

[2022-04-17 08:28] mindplay-dk commented on #35
That sounds crazy. 😄

Where did you come across that?

[2022-04-17 19:24] jordanbtucker commented on #35
JSON serialization of `Buffer` in Node.js:

[code]

[code]

Even stranger is the JSON serialization of `TypedArray` in JavaScript:

[code]

[code]

It's quite interesting that JavaScript has the [`btoa`](https://developer.mozilla.org/en-US/docs/Web/API/btoa) function, yet no built-in JSON serializations use Base64. This paragraph from [Binary strings](https://web.archive.org/web/20220524022025/htt

[2022-04-17 20:00] jordanbtucker commented on #12
Edit: Please disregard the comments below as they don't really make sense on second look.

Since JSON5 is already widely in use, disallowing certain behavior that was previously allowed would be a breaking change. So, any conclusions we draw would need to be phrased as a recommendation in the spec.

After considering all comments in this discussion and doing additional research, I think the best a

[2022-04-17 21:32] spitzak commented on #12
That sounds like what I was complaining about. I do not want to have to write all the filenames as Base64 just because 0.00001% of them have some invalid UTF-8 in them! There must be a human-readable way to make text that contains invalid UTF-8 and invalid UTF-16.

[2022-04-17 21:49] jordanbtucker commented on #12
@spitzak I can't tell if you're agreeing with my comments or not. If not, can you please propose an alternate recommendation to the spec.

[2022-04-18 15:57] spitzak commented on #12
I'm now not sure I understand what you are saying. What I want is the sequence "\xNN" to turn into the byte with the value 0xNN when a quoted string is read from the JSON5 library using a UTF-8 api. It also should return \uNNNN as 3 bytes when U+NNNN is an unpaired surrogate, and \uNNNN\uMMMM as 4 bytes when they are a proper pair of surrogates. In addition the reverse conversions should be done w

[2022-04-18 16:55] jordanbtucker commented on #12
@spitzak So, I went back and read your original comments, and I think the issues you raised, while valid concerns, are moot in the context of this issue.

Unpaired surrogates can only occur when Unicode code units within the range of U+D800 through U+DFFF are used. Note that these code units are greater than `0xFF` so they a are never represented by single bytes in Unicode.

The `\xHH` syntax repr

[2022-04-18 18:32] spitzak commented on #12
Sorry about the confusion about bytes and unpaired surrogates. They are not related.

By "UTF-8" api I mean a function in the JSON5 library that returns an array of bytes that have been set based on quoted text in the file, which converts the character 'A' into 0x41, and converts the character '€' into 0xE2,0x82,0xAC (the UTF-8 encoding of the euro sign).

- My primary recommendation is that the U

[2022-04-18 19:30] jordanbtucker commented on #12
@spitzak Thank for you clarifying your points. I still think there is some confusion around the term "UTF-8 string", but I believe I have a better idea of what you're proposing, even if I still don't agree with it.

This seems to be an API feature request rather than a specification request, and if so, I would recommend that you open this request as an issue in the [json5](https://github.com/json5

[2022-04-19 07:59] mindplay-dk commented on #35
Probably because `btoa` has some [ugly limitations](https://developer.mozilla.org/en-US/docs/Web/API/btoa#unicode_strings)

![image](https://user-images.githubusercontent.com/103348/163951641-129d66f6-e9ae-42a3-8c3c-f9b76dc75b99.png)

Things like [`toDataURL`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL) in `Canvas` presumably must use a different base64 encoder in

[2022-04-19 15:59] jordanbtucker commented on #35
The `btoa` function is designed to work on binary strings, which are sequences of Unicode code points in the range of U+0000 through U+00FF (i.e. the Latin-1 character set), where each code point represents a single byte. So, I wouldn't call it an ugly limitation but a necessary one. What byte should `✓` (U+2713) represent?

`toDataURL`, on the other hand, converts the canvas to an image format, l

[2022-04-19 16:23] mindplay-dk commented on #35
No, but that's already worth something in itself, I think.

Having data with content-type is probably less common than having data with a known type. I don't think "some data has no type" is really an argument against having a type for everything else?

And in that marginal case, it's a recommendation - you don't have to follow it if it doesn't make sense for your use-case.

No, but that same argu

[2022-05-16 18:53] zamicol commented on #20
JSON5 supports Hex in "0x" and "0X" forms, which is awesome:
https://github.com/json5/json5/blob/4cf57da675f55c619f959132eb58a5683ca4a9c7/lib/parse.js#L416

I wanted to confirm and explicitly state that JSON5 will never support base64 since it would break ES5 compatibility.

(I would not be in favor, just double checking to make sure.)

Thanks for all you do Jordan.

[2022-05-27 14:11] apprat opened #36 "Recommend support for BigInt"
const object = {id: 123n}
stringify can be stored as
{"id": 123n}
Can be correctly converted to bigint instead of number during parse

[2022-05-27 14:22] apprat commented on #36
In my current software, I can't convert bigint to string storage, which gives me a headache. My current solution is to convert bigint to string, and then add an "n" to represent bigint

[2022-05-27 14:38] apprat commented on #36
Now in version 2.2.1, bigint will be removed when stringify

[2022-05-27 16:42] jordanbtucker commented on #36
Thanks for the suggestion. JSON5 already intrinsically supports arbitrary-precision integers, as there is no limitation on how large a number can be in a JSON5 document. In fact, JSON5 has no notion of different data types for numbers, apart from the special IEEE 754 values Infinity and NaN. The specification only documents the ways in which numbers can be represented, and it is up to JSON5 parser

[2022-05-27 17:20] jordanbtucker commented on #36
I created [a replacer function and a reviver function](https://gist.github.com/jordanbtucker/d48b826aa9f4e868f8d406d84fa10526) for BigInt that both work with JavaScript implementations of JSON and JSON5. It converts BigInts to and from strings.

[code]

[code]

[2022-05-28 02:22] apprat commented on #36
Thanks, but converting to a string may lead to wrong judgments, I still hope to support this function, although it is indeed not compatible with ES5, but isn't the purpose of json5 to make up for the deficiencies of json?

[2022-05-29 04:45] jordanbtucker commented on #36
I would not say that JSON's lack of numeric data type indicators is a deficiency. It's a feature that makes JSON platform agnostic and interoperable. As I already explained, JSON and JSON5 already support arbitrary-precision integers. If a JSON5 parser cannot handle large numbers, then it is not a deficiency of JSON5—it's a deficiency in the JSON5 parser or the platform. In other words, if a JSON5

[2022-05-29 05:21] jordanbtucker commented on #20
@zamicol I can confirm that there are no plans to include support for a Base64 literal value in JSON5. Please see https://github.com/json5/json5-spec/issues/35 for a discussion on the recommended ways to represent binary data in a JSON5 document.

[2022-05-29 16:58] jordanbtucker commented on #4
See also https://github.com/tc39/proposal-temporal.

[2022-07-07 15:06] bogdanbiv commented on #4
Pertaining to the proposal, I would like to ask for more comments on _time duration_. Could that be specified in an interoperable way? ```{"interval":{"days": 3, "seconds": -2}}``` or ```{"timestampDelta":2}```

[2022-07-07 15:25] bogdanbiv commented on #36
I would say that given in ECMA-232 BigInt is standardized as `1n`, having a different behavior in JSON parser/s would be a major headache. At least it should be allowed as a hint or be ignored. It's useful for humans parsing the document too.

/my $0.02

[2022-07-07 15:32] bogdanbiv opened #37 "Submitting JSON5 to TC39 as a versioning proposal"
Given the ECMA-404 standard is also covered by TC39, could/should we submit JSON5/6/... as version updates / proposals?
https://www.ecma-international.org/publications-and-standards/standards/ecma-404/

[2022-07-08 00:04] jordanbtucker commented on #37
I am open to contacting Ecma regarding this, however I would like approval from @aseemk before doing so.

[2022-07-08 00:22] jordanbtucker commented on #4
@bogdan All of the classes in Temporal already have interoperable representations as strings, and those strings are returned by both `toString()` and `toJSON()`. The strings use ISO 8601 (same as RFC 3339) when possible.

[2022-07-15 23:33] tracker1 commented on #35
I like the data URL as well... I would think that strings would be UTF8 encoded into UInt8Array first of type text/utf8 and buffer or uint8 array would be binary ... Binary going into uint8 array... Other typed arrays being javascript/TYPEarray

[2022-07-16 10:14] mindplay-dk commented on #35
Come to think of it...

Actually, I believe this does add something: an extra layer of validation and explicitness.

Some base64 data is indistinguishable from text - that is, your app might expect base64, but somebody put a string in there that just happens to be valid base64, and decodes to some nonsense data, which triggers an obscure error further up the call stack, which could be very difficu

[2022-07-16 21:13] jordanbtucker commented on #35
@tracker1 Strings don't necessarily need to be encoded as UTF-8 since JSON5 already has a string type, which is defined as a sequence of Unicode code points. JSON5 documents themselves are recommended to be encoded as UTF-8 however.

If you want to store the original UTF-8 representation of text in a Base64 data URL, and let's say that text is the HTML string `<h1>Hello, World!</h1>`, then the dat

[2022-07-16 21:17] jordanbtucker commented on #35
@mindplay-dk So, there's a snag with using `data:;base64,` for generic binary data. According to [RFC 2397](https://datatracker.ietf.org/doc/html/rfc2397#section-2), a data URL with an unspecified MIME type implicitly has a MIME type of `text/plain;charset=US-ASCII`.

So, recommending `data:;base64,` for binary data with an unspecified MIME type actually goes against the data URL spec, and these U

[2022-07-19 09:03] mindplay-dk commented on #35
Right, time has not been good to this ol' standard.

Perhaps it would be helpful to also recommend *not* using an empty MIME type?

Honestly, it's the first time I've ever seen a `data:` URI with the MIME type omitted - I didn't even know that was possible.

And now that I know what the default is, it makes sense why nobody uses this. If you were actually including ASCII data, you would probably b

[2022-07-26 20:16] zamicol opened #38 "Define object name duplicate behavior and require implementations support behavior `unique`"
# Proposal

Even though [JSON RFC 8259](https://datatracker.ietf.org/doc/html/rfc8259#section-4) states that "names within an object SHOULD be unique", it leaves duplicate object name behavior undefined.  The RFC warns that only objects with unique names are guaranteed interoperability since "all software implementations receiving that object will agree on the name-value mappings", but it does not

[2022-08-01 06:24] aseemk commented on #37
Sorry for my delay in seeing this. I'm happy to defer to your judgment @jordanbtucker! I have no experience with standards bodies and don't know what to expect here. I'd be very happy to follow your lead. =)

[2022-08-07 12:08] tats-u opened #39 "[due to a wrong assumption] non-ASCII key names without surrounded by `"`"
If JSON5 supports non-ASCII key names like JS, it will be more friendly for non-English users who is not good at English or programming.

[code]

[2022-08-07 12:16] tats-u opened #40 "Numeric representation (binary & octal & grouping digits)"
I hope JSON5 supports these numeric representations supported by ES6 or ES2021.

- Binary: ES6
- Octal with `0o`: ES6
  - Suitable for permissions
- Grouping digits: ES2021

[code]

[2022-08-07 18:52] jordanbtucker commented on #39
Thanks for the suggestion. JSON5 already allows for unquoted non-ASCII property names.

Property names can start with any character in the Unicode categories "Uppercase letter (Lu)", "Lowercase letter (Ll)", "Titlecase letter (Lt)", "Modifier letter (Lm)", "Other letter (Lo)", or "Letter number (Nl)".

Since あ belongs to the "Other letter (Lo)" category, your example is already valid JSON5.

[2022-08-07 18:54] jordanbtucker commented on #40
Thanks for the suggestion, but we've settled on keeping JSON5's features compatible with ES5, so no ES6 features will be added.

[2022-08-07 18:54] #40 closed, assigned to jordanbtucker

[2022-08-07 18:54] #39 closed, assigned to jordanbtucker

[2022-08-07 21:20] jordanbtucker commented on #38
Thank you for this well thought-out, well written proposal. Would you mind elaborating on the difference between *implementation* and *application*. Those aren't terms already described in the spec, so they may need to be defined if we include them.

On a side note, I just rediscovered that [ES5 strict mode](https://262.ecma-international.org/5.1/#sec-C) forbids duplicate property names.

[2022-08-07 23:19] tats-u commented on #39
So it is an online formatter issue. Thank you for the information.

[2022-08-08 09:28] tats-u commented on #40
Is it intended to make JSON5 `eval`-able even in dying IE?
If so you might want to reconsider this specification.

FYI these do not break the backward compatibility because all of them cause syntax errors.

[2022-08-08 11:03] ioggstream opened #41 "Replace mandatory braces with indentation"
Dear folks, removing mandatory quoting and comments are great!

[code]

What do you think about replacing mandatory braces with indentation?
This will make "nested objects for humans"!
Brackets can be replaced with some sort of prefix, like `-`

e.g.

[code]
WDYT?

[2022-08-08 15:37] zamicol commented on #38
Jordan, you've always done fantastic  work on JSON5. Thank you for reading this proposal.

Perhaps JSON5 doesn't need to make the distinction?  Instead, implementations MUST support `unique`, and SHOULD support `last-value-wins`, `duplicate`, and `undefined`, and leave it at that.

Looking at ES5, looks like the default behavior is `last-value-wins`.

[2022-08-09 02:51] jordanbtucker commented on #38
Thanks for the clarification. What is the value in defining an `undefined` behavior?

You're correct that the default behavior in ES5 is `last-value-wins`, unless it's in strict mode, then it's `unique`.

[2022-08-09 02:54] jordanbtucker commented on #41
This looks a lot like [YAML](https://yaml.org/).

[2022-08-09 02:54] jordanbtucker commented on #39
Which online formatter is reporting an error?

[2022-08-09 13:17] nocturn9x commented on #41
The second proposal definitely does, but IMHO there is no reason for JSON not to allow trailing commas

[2022-08-09 13:20] nocturn9x commented on #38
I don't think having the spec allow for undefined behavior is a great idea. The point of a specification is to lay down a standard, and especially in this case having an UB is not only undesirable, but also probably useless.

Just my 2 cents though

[2022-08-09 16:51] zamicol commented on #38
Sorry, my response was poorly written.  This is better:

Implementations MUST support duplicate behavior `unique`.  Implementations MAY support additional duplicate behaviors.

Perhaps  "non-standard" is a better word here than "undefined".  If a JSON5 implementation selects a duplicate behavior that is not `unique`,`last-value-wins`, or `duplicate`, it is said to be `non-standard`.

An implementa

[2022-08-11 06:02] tats-u commented on #39
@jordanbtucker Sorry I tried to find it but I could not. I found the other formatters that can be found in Google work well. I wonder where it has gone.

[2022-08-15 21:08] zamicol commented on #38
Any more thoughts?

I suspect the next step is to draft an example by adding a few sentences about duplicate behavior to the spec section `3 Objects`.  Having a concrete spec to critique would be helpful.

[2022-08-23 02:26] tracker1 commented on #35
`binary/octet-string` would probably be appropriate mime type for general binary encoded data mime type.

[2022-08-23 05:08] jordanbtucker commented on #35
The official IANA MIME type for arbitrary binary data is `application/octet-stream` as defined in [RFC 2046](https://www.rfc-editor.org/rfc/rfc2046.html#section-4.5.1). So, if you want to encode the bytes `80 80 80 80` as arbitrary binary data in Base64 in a data URL, you should use `data:application/octet-stream;base64,gICAgA==`.

I'd also like to point out some prior art regarding interoperabili

[2022-08-23 14:29] jordanbtucker commented on #38
https://262.ecma-international.org/5.1/#sec-C

---

JSON5 is facing the same issue TC39 had with Crockford's similar suggestion. There already exists JSON5 documents and JSON5 implementations that behave based on the current spec, which uses SHOULD.

The clause "Implementations MUST support duplicate behavior `unique`." is a breaking change for JSON5 implementations. Any implementation that was de

[2022-08-23 17:34] zamicol commented on #38
Ah!  Thank you!

Totally, and that's a great concern.

We've seen a "change" like this before:

The [JSON RFC 7159](https://datatracker.ietf.org/doc/html/rfc7159#section-8.1) allowed UTF-8, UTF-16, or UTF-32.

The [JSON RFC 8259 ](https://datatracker.ietf.org/doc/html/rfc8259#section-8.1) requires only UTF-8.

This decision was made after surveying implementations and noting that all popular imple

[2022-08-27 16:50] jordanbtucker commented on #38
Yes, there is a community maintained list at [In the Wild](https://github.com/json5/json5/wiki/In-the-Wild).

Yes, that would be a welcome issue / PR. The reference implementation uses `last-value-wins` because that's what ES5 does, and I used the parsing steps from that spec to write the code. I don't think it's the best behavior, and I'm happy to include a `unique` option, which is off by defaul

[2022-09-12 00:50] pallas opened #42 "Recommended adding ES6 \u{.....} Unicode escapes"
These are simpler than UTF-16 surrogate escapes and easy to tack on in both identifiers and strings.

[2022-09-13 17:09] zamicol commented on #38
Perhaps this changed with ES6?  Do you know of an example that will trigger SyntaxError on duplicates?

I suspected something like this would throw SyntaxError.  Instead it results in last-value-wins.  Looking at the [ES6 spec](https://262.ecma-international.org/6.0), I can't find reference to duplicate behavior.

[code]

[2022-09-15 17:44] jordanbtucker commented on #38
It looks like they removed that restriction in ES6 with the introduction of computed property names. Since the following code would initialize an object with duplicate property names, using last-value-wins, with no way for the compiler to detect the duplicate names, ECMA decided to remove the restriction.

[code]

See also https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators

[2022-09-29 20:53] Schweinepriester opened #43 "Attempt to make JSON5 part of JS/ECMAScript?"
Inspired by [this tweet](https://twitter.com/slightlylate/status/1573405274257473543) and some responses ([1](https://twitter.com/slightlylate/status/1573409608844349441), [2](https://twitter.com/schweinepriestr/status/1573567185892564997)) I've come here to ask:
Was there ever an attempt to make JSON5 part of JS/ECMAScript?

I searched quite a bit, but wasn't able to find anything in that directi

[2022-09-29 21:06] Schweinepriester commented on #43
Of course now after the fact I find https://github.com/json5/json5-spec/issues/33 (for RFC) and https://github.com/json5/json5-spec/issues/37 (JSON5 as update for JSON aka. ECMA-404).
Both related but also not the same what I'm suggesting, hence leaving my issue open, pending your reaction.

[2022-09-29 21:15] jordanbtucker commented on #43
Thanks for your recommendations. I've moved this issue and discussion to the JSON5 spec repo.

[2022-09-29 23:23] aseemk commented on #43
From my side: I wouldn't just be open — I'd be very grateful! — to anyone leading the charge here! I have no experience with standards bodies and am busy/focused on my full-time day job, but I love the idea. =)

[2022-09-30 16:28] #41 closed, assigned to jordanbtucker

[2022-10-24 13:42] Himujjal commented on #4
The beauty of JSON is that it has remained intact after JSON 1.0.

These enhancements with Dates and templates etc look cool and definitely help developers write better formatted files, but they also break a strong foundation of what JSON5 is about.

I think enhancements should be closed, and the spec left as it is. That will make sure adoption for JSON5 will remain well around the tech industry.

[2022-10-24 13:48] Himujjal opened #44 "Effort to pool in json5 parsers and stringifiers under this single Github organization"
JSON5 is a good format. Simple, easy to understand, easy to write, JSON compatible.

There have been multiple parsers and stringifiers written for it across the internet and Github. An initiative to pool in these resources into a single organization would be wonderful.

Let's start with my implementation: [zig-json5](https://github.com/Himujjal/zig-json5)

Other repos include [JSON5 formatter](htt